.card__like-count{
  font-family: "Inter", Arial, sans-serif;
    font-size: 15px;
    line-height: 133%;
    color: black;
    position: absolute;
    top: 90%;
    right: 6%;
    visibility: visible;
}



/*
.card__like-count.active{
  font-family: "Inter", Arial, sans-serif;
    font-size: 15px;
    line-height: 133%;
    color: black;
    position: absolute;
    top: 90%;
    right: 6%;
    visibility: visible;
}

*/