
.profile__avatar {
  width: 80%;

}

.profile__avatar:hover {
   filter: brightness(0.5);
}


.profile__avatar:hover + .profile__avartar-edit {
    opacity: 1;
}



@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile__avatar {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    width: 90%;
  }
}
